body {
	background-color: #333;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}

h1 {
	margin-bottom: 8px;
}

p {
	margin-top: 0px;
}

a {
	color:  #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

.hidden {
	display: none !important;
}

.page-content-wrapper {
	padding: 30px;
}

/*Form styles*/
.form-wrapper,
.results {
	width: 100%;
	margin:  0 auto;
	margin-top: 40px;
	max-width: 300px;
	padding: 0 30px;
	overflow: hidden;
}

.form-wrapper label {
	text-align: left;
	margin-bottom: 4px;
}

.form-wrapper input,
.form-wrapper select {
	width: 100%;
	border: 1px solid #fff;
	padding: 5px;
	margin-bottom: 12px;
	background-color: #333;
	color: #fff;
	outline: none !important;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	font-weight: 300;
}
.form-wrapper input.submit-button {
	margin-top: 30px;
	font-weight: 500;
	background-color: #fff;
	color: #333;
	cursor:  pointer;
	width: 180px;
	margin: 20px auto;
}

#insuranceScoreCalculationForm {
	display: flex;
	flex-direction: column;
}

.results {
	display: flex;
	flex-direction: column;
	position: absolute;
	opacity: 0;
	margin-top: 0;
	transform: translateX(-50%);
	left: 50%;
}

.results span {
	margin-bottom: 15px;
	font-weight: 500;
}